{{define "content"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon" />
</head>
<body>
    <div class="login-container">
        <div><p class="token">{{.}}</p></div>
        <div class="corps"><a href="/" class="bouton2">Index page</a></div>
    </div>
</body>
</html>
{{end}}
