<!DOCTYPE html>
<html>
<body>
    <div><span>Hello </span><span>{{.Pseudo}}!</span></div><br/><br/>
    <div><span>Please follow the link to finish setting your newly created account:</span></div>
    <div><a href="http://localhost:8080/confirm?id={{.ConfirmID}}">Confirm your email</a></div><br/>
    <footer>
        <div>
            <p>Welcome to the mw8 team.</p>
            <p>Please don't reply to this mail!</p>
        </div>
    </footer>
</body>
</html>