<!DOCTYPE html>
<html>
<body>
    <div><span>Hello </span><span>{{.Pseudo}}!</span></div><br/><br/>
    <div><span>Les données ont été changées suivant votre demande</span></div>
    <footer>
        <div>
            <p>Welcome to the Mw7 team.</p>
            <p>Please don't reply to this mail!</p>
        </div>
    </footer>
</body>
</html>